ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 100px;
    overflow: hidden;
    /*border-bottom:1px solid black;
    length: 300px;*/
}

li {
    float: left;
    font-style:
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 1px 15px;
    padding-bottom: 0px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    color: red;
}

.navline {
  border-color: black;
  border-width: 2px;
  width: 500px;
  float:left;
}

.city {
padding-top: 55px;


}

h2 {

text-align: center;


}

p {

  display: block;

}

.judge {

  text-align: center;

}

.title {

  text-align: center;
  font-weight: bolder;
  color: maroon;
  font-size: 28px;
  padding-top: 5px;

}
